<div class="password__input__message" *ngIf="!passwordValue">Enter the password</div>
<div class="password__input__message"
    *ngIf="passwordValue.length > 0 && passwordValue.length < 8">The password must have 8
    symbols</div>
<div class="password__input__message" *ngIf="passwordValue.length >= 8 && level.easy">The password is
    easy</div>
<div class="password__input__message" *ngIf="passwordValue.length >= 8 && level.medium">The password
    is medium</div>
<div class="password__input__message" *ngIf="passwordValue.length >= 8 && level.strong">The password
    is strong</div>