<div class="password">
    <div class="container">
        <div class="password__wrapper">
            <form novalidate [formGroup]="form">
                <div class="password__input">
                    <input type="password" id="password" #passwordInput formControlName="password">
                </div>
            </form>

            <app-password-messages passwordValue="{{inputValue}}" [passwordInput]="password"></app-password-messages>

            <app-password-indicators passwordValue="{{inputValue}}" [passwordLevel]="level"
                [passwordPatterns]="patternsCollection" [passwordInput]="password"></app-password-indicators>
        </div>
    </div>
</div>