@import "../form.component";

.password {
    padding: 20px 0;
    @extend %center;

    &__wrapper {
        @extend %center;
        gap: 30px;
        padding: 20px;
    }

    &__input{
        @extend %center;
        gap: 10px;
    }
}
