<div class="password">
    <div class="container">
        <div class="password__wrapper">
            <h1>Password strength check</h1>
            <form novalidate [formGroup]="form">
                <div class="password__input">
                    <input type="password" id="password" #passwordInput formControlName="password">
                </div>
            </form>
            <div class="password__input__message" *ngIf="!passwordInput.value">Enter the password</div>
            <div class="password__input__message" *ngIf="passwordInput.value.length > 0 && passwordInput.value.length < 8">The password must have 8 symbols</div>
            <div class="password__input__message" *ngIf="passwordInput.value.length >= 8 && level.easy && passwordInput.value">The password is easy</div>
            <div class="password__input__message" *ngIf="passwordInput.value.length >= 8 && level.medium && passwordInput.value">The password is medium</div>
            <div class="password__input__message" *ngIf="passwordInput.value.length >= 8 && level.strong && passwordInput.value">The password is strong</div>

            <div class="password__indicators">
                <div class="password__indicators__indicator" [ngStyle]="{'backgroundColor': firstLevelColor}"></div>
                <div class="password__indicators__indicator" [ngStyle]="{'backgroundColor': secondLevelColor}"></div>
                <div class="password__indicators__indicator" [ngStyle]="{'backgroundColor': thirdLevelColor}"></div>
            </div>
        </div>
    </div>
</div>