%center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password {
    padding: 20px 0;
    @extend %center;

    &__wrapper {
        @extend %center;
        gap: 30px;
        padding: 20px;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.12), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481);
    }

    &__input{
        @extend %center;
        gap: 10px;

        &__message{
            font-size: 1.25em;
            font-weight: 600;
        }
    }

    &__indicators {
        @extend %center;
        flex-direction: row;
        gap: 20px;

        &__indicator {
            width: 100px;
            height: 10px;
            border: 1px #000000 solid;
            border-radius: 10px;
        }
    }
}
